# mchck openocd
# https://github.com/mchck/mchck/wiki/Openocd
#
# adapter: frdm-kl05z with cmsis-dap firmware
# inteface: cmsis-dap
# transport: hla_swd
# target: MK20DX128VLF5 Freescale Kinetis

# adapter/interface
source [find interface/stlink-v2.cfg]

# increase working area to 16KB
set WORKAREASIZE 0x4000

set CHIPNAME MK20DX128VLF5

reset_config none separate

source [find target/k40.cfg]

$_TARGETNAME configure -event gdb-attach {
   echo "Halting Target"
   reset init
}
